*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 18px;
    background-color: #f0f8ff;
    width: 100%;
}

header{
    margin: 1.5rem;
}

.fav-link{
    display: block;
    float: right;
    padding-right: 1.5rem;
    cursor: pointer;
    color: black;
    font-size: 1.3rem;
}

.fav-link:hover{
    color: blue;
}

h1{
    text-align: center;
    font-family: 'Tilt Prism', cursive;
    font-size: 5rem;
}

h2{
    text-align: center;
    color: #50606e;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.search-form{
    display: flex;
    justify-content: center;
}

input{
    width: 40vw;
    font-size: 1rem;
    border-color:antiquewhite;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}


.cocktail-photo{
    min-width: 20%;
    display: block;
    border-radius: 10px;
    border: 5px solid #9cadbc;
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: auto;
    cursor: pointer;
}
.cocktail-photo:hover{
    scale: 1.1;
    transition: all 2ms ease-in-out;
}

.section-drinks{
    margin: auto;
    display: grid;
    height: 402px;
    min-width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 2fr 2fr 2fr 2fr; */
    /* justify-content: space-evenly; */
    /* align-content: space-evenly; */
    overflow: hidden;
}

.bigger {
    height: auto;
    overflow: auto;
}

.fav-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.fav-button svg{
    width: 1.3rem;
    color: red;
}

.fav-button{
    border: none;
    border-radius: none;
    background-color: transparent;
}

.liked{
    fill: red;
}

.more{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: pink;
}

.more button{
    padding: 0.5rem;
}

.more-btn{
    overflow: auto;
    height: auto;
}

@media only screen and (max-width: 850px){
    .section-drinks{
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
}
